In [1]:
#if

In [2]:
value = 10

In [3]:
if value > 5:
    print("value is bigger than 5")

value is bigger than 5

In [4]:
money = 10

In [6]:
if money > 100:
    item = 'apple'
else:
    item = 'banana'

In [7]:
item

'banana'

In [8]:
score = int(input(('input score:')))

input score:80

In [10]:
if 90 <= score <= 100:
    grade = 'A'
elif 80 <= score < 90:
    grade = 'B'
elif 70 <= score < 80:
    grade = 'C'
elif 60 <= score < 70:
    grade = 'D'
else:
    grade = 'F'
    
print('Grade is ' + grade)

Grade is B

In [11]:
#조건식의 참과 거짓

In [12]:
bool(True)

True

In [13]:
bool(False)

False

In [14]:
bool(13)

True

In [15]:
bool(0)

False

In [16]:
bool('apple')

True

In [17]:
bool('')

False

In [18]:
bool(())

False

In [19]:
# While

In [20]:
value = 5

In [21]:
while value > 0:
    print(value)
    value -= 1

5
4
3
2
1

In [22]:
# for

In [25]:
l = ['Apple', 100, 15.23]

In [26]:
for i in l:
    print(i, type(i))

Apple <class 'str'>
100 <class 'int'>
15.23 <class 'float'>

In [27]:
d = {'Apple':100, 'Orange': 100, 'Banana':300}

In [28]:
for k, v in d.items():
    print(k, v)

Apple 100
Orange 100
Banana 300

In [29]:
#### 구구단 예제

In [30]:
for n in [1,2]:
    print("---{0}단---".format(n))
    for i in [1,2,3,4,5,6,7,8,9]:
        print('{0} * {1} = {2}'.format(n,i,n*i))

---1단---
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
---2단---
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [1]:
## Break, continue 그리고 else

In [2]:
L = [1,2,3,4,5,6,7,8,9,10]

In [3]:
for i in L:
    if i>5:
        break
    print("Item: {0}".format(i))

Item: 1
Item: 2
Item: 3
Item: 4
Item: 5

In [5]:
for i in L:
    if i % 2 == 0:
        continue
    print("Item: {0}".format(i))

Item: 1
Item: 3
Item: 5
Item: 7
Item: 9

In [6]:
for i in L:
    if i % 2 == 0:
        continue
    print("Item {0}".format(i))
else:
    print('Exit without break')
print('Always this is printed')

Item 1
Item 3
Item 5
Item 7
Item 9
Exit without break
Always this is printed

In [7]:
for i in L:
    if i > 5:
        break
    print("Item {0}".format(i))
else:
    print('Exit without break')
print('Always this is printed')

Item 1
Item 2
Item 3
Item 4
Item 5
Always this is printed

In [8]:
## 범위의 설정 range()

In [9]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [11]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [12]:
list(range(10, 20, 2))

[10, 12, 14, 16, 18]

In [13]:
L = ['Apple','Orange','Banana']

In [15]:
for i in L:
    print(i)

Apple
Orange
Banana

In [16]:
l = [1,2,3,4,5]

In [17]:
[i**2 for i in l]

[1, 4, 9, 16, 25]

In [20]:
t = ('Apple','Orange','Banana', 'kiwi')

In [19]:
[len(i) for i in t]

[5, 6, 6]

In [22]:
[i for i in t if len(i) > 5]

['Orange', 'Banana']