# Introduction

### apps.csv
앱의 디테일에 대한 데이터정보가 저장되어 있다.
- App: 앱의 이름
- Category: 카테고리 (예: ART_AND_DESIGN, FINANCE, COMICS, ...)
- Rating: 별점
- Reviews: 리뷰의 수
- Size: 앱의 크기 MB
- Installs: 앱이 Google Play로 부터 다운로드 된 횟수
- Price: 가격 (US dollar)
- Last Updated: 앱이 마지막으로 업데이트된 날짜

### user_reviews.csv
각 앱 별로 가장 helpful한 유저의 리뷰가 무작위로 100개 선택되어 있다. 
- App: 앱의 이름 (유저의 리뷰가 있는 경우만 등록되었다.)
- Review: 텍스트 형식의 유저 리뷰 (전처리 됨)
- Sentiment Category: 감정 카테고리, positive negative, neutral
- Sentiment Score: 유저 리뷰의 감정 점수 [-1,1] 사이. score가 크면 더 positive한 감정

### 1. Read the apps.csv file and clean the Installs column to convert it into integer type. Save your answer as a DataFrame apps.

In [207]:
import pandas as pd
apps = pd.read_csv("data/apps.csv")
apps.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [208]:
apps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

- Installs 열을 보면 integer로 바꾸기 전에 10,000+ 과 같은 형식을 clean 해 줘야 한다.

In [209]:
price_clean = []

for ii in range(len(apps.Price)):
    result = apps.Price[ii].replace("$","")
    result = result.replace(".","")
    result = result.replace("Everyone","0")

    price_clean.append(result)

apps.Price = price_clean

In [210]:
reviews_clean = []

for ii in range(len(apps.Reviews)):
    result = apps.Reviews[ii].replace("3.0M","3000000")
    result = result.replace("$","")
    result = result.replace(".","")
    result = result.replace("Everyone","0")

    reviews_clean.append(result)

apps.Reviews = reviews_clean

In [211]:
Installs_clean = []

for ii in range(len(apps.Installs)):
    result = apps.Installs[ii].replace("+","")
    result = result.replace(",","")
    result = result.replace("Free","0")

    Installs_clean.append(result)

apps.Installs = Installs_clean
apps.tail()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10836,Sya9a Maroc - FR,FAMILY,4.5,38,53M,5000,Free,0,Everyone,Education,"July 25, 2017",1.48,4.1 and up
10837,Fr. Mike Schmitz Audio Teachings,FAMILY,5.0,4,3.6M,100,Free,0,Everyone,Education,"July 6, 2018",1.0,4.1 and up
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,1000,Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,1000,Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,10000000,Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

In [212]:
apps['Installs'] = apps['Installs'].astype(int)
apps['Reviews'] = apps['Reviews'].astype(int)
apps['Price'] = apps['Price'].astype(int)

apps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int32
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  int32
 6   Type            10840 non-null  object
 7   Price           10841 non-null  int32
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), int32(3), object(9)
memory usage: 974.1+ KB

### 2. Find the number of apps in each category, the average price, and the average rating. Save your answer as DataFrame "app_category_info". You should rename the four columns as: Category, Number of apps, Average price, Average rating

In [221]:
app_category_info = apps.groupby('Category').agg({'App':'count', 'Price':'mean', 'Rating':'mean'})
app_category_info = app_category_info.rename(columns={'App':'Number of apps', 'Price':'Average price', 'Rating':'Average rating'})
app_category_info.head()

                     Number of apps  Average price  Average rating
Category
1.9                               1       0.000000       19.000000
ART_AND_DESIGN                   65       9.184615        4.358065
AUTO_AND_VEHICLES                85      15.847059        4.190411
BEAUTY                           53       0.000000        4.278571
BOOKS_AND_REFERENCE             231      51.848485        4.346067

### 3. Find the top 10 free FINANCE apps having the highest average sentiment score. Save your answer as a DF top_10_user_feedback. Your answer should have exactly 10 rows and two columns named: App and Sentiment Score where the average Sentiment Score is sorted from highest to lowest

In [265]:
free_apps = apps.App[(apps.Type=='Free') & (apps.Category=='FINANCE')]
free_apps.shape

(349,)

In [266]:
user_feedback = pd.read_csv('data/user_reviews.csv')
user_feedback.head()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
0,10 Best Foods for You,I like eat delicious food. That's I'm cooking ...,Positive,1.00,0.533333
1,10 Best Foods for You,This help eating healthy exercise regular basis,Positive,0.25,0.288462
2,10 Best Foods for You,NaN,NaN,NaN,NaN
3,10 Best Foods for You,Works great especially going grocery store,Positive,0.40,0.875000
4,10 Best Foods for You,Best idea us,Positive,1.00,0.300000

In [267]:
average_score = user_feedback.groupby('App')['Sentiment_Subjectivity'].mean()
average_score = average_score.sort_values(ascending=False)
top_10_user_feedback = average_score.head(10)

In [268]:
top_10_user_feedback = top_10_user_feedback.reset_index(drop=False)
top_10_user_feedback = top_10_user_feedback.rename(columns={"App":'App','Sentiment_Subjectivity':'Sentiment Score'})
top_10_user_feedback

                                                 App  Sentiment Score
0                                      Google Slides         0.916667
1  Daily Workouts - Exercise Fitness Routine Trainer         0.750000
2                                      Choice Hotels         0.719206
3                                       HTC Calendar         0.694949
4                       Hitwe - meet people and chat         0.694105
5                             850 Sports News Digest         0.692420
6                                 Google Street View         0.691667
7  CM Browser - Ad Blocker , Fast Download , Privacy         0.687500
8                                     Draw Your Game         0.683333
9                      FlipaClip - Cartoon animation         0.679226